/* selecteur pour l'element body */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: black;
	color: white;
}

/* selecteur pour tous les elements h1 */
h1 {
	font-size: 2.5em;
	color: red;
	text-align: center;
	margin-top: 20px;
}

h2 {
	font-size: 3em;
	color: purple;
	text-align: center;
	margin-top: 15px;
	font-family: Papyrus;
}

/* selecteur pour les paragraphes */
p {
	line-height: 1.6;
	margin: 10px 0;
	text-align: center;
	color: white
}

/* selecteur pour les images dans une balise */
figure img {
	max-width: 50%;
	height: auto;
	border: 1px solid #ccc;

}

figure {
	text-align: center;

}

/* selecteur pour les liens */
a {
	color: white;
	text-decoration: underline purple;
}

a:hover {
	color: #004080;
}

/* classe personnalisee .highlight */
.highlight {
	
	font-family: Papyrus;
}

/* ID personnalise #footer */
#footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
}